.elm-head {
  display: flex;
  height: 50px;
  line-height: 50px;
  background: #282828;

  .left {
    flex: 1;
    display: flex;
    align-items: center;
    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 50px;
      border-right: 1px solid #222;
      box-shadow: 1px -1px 1px #363636;
    }
    h2 {
      padding-left: 15px;
      color: #FFF;
      font-size: 14px;
    }
  }

  .right {
    display: flex;
    a {
      color: #FFF;
      &.city {
        padding: 0 5px;
      }
      &.icon-user {
        width: 48px;
        text-align: center;
        color: #FFF;
        font-size: 20px;
      }
    }
  }

  .nav-container {
    position: fixed;
    top: 50px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    ul {
      width: 210px;
      height: 100%;
      border-top: 1px solid #333;
      background: #282828;
    }
    a {
      display: flex;
      justify-content: space-between;
      height: 50px;
      line-height: 50px;
      color: #9a9a9a;
      padding-left: 15px;
      padding-right: 15px;
      border-bottom: 1px dotted #333;
    }
  }

  .slide-enter,  {
    transform: translateX(-100%);
  }
  .slide-enter-active,  {
    transform: translateX(0);
    transition: transform .3s;
  }
  .slide-exit-active {
    transform: translateX(-100%);
    transition: transform .3s;
  }
}
